# General
__pycache__
.ipynb_checkpoints
.idea
*.DS_Store

# Project specific
# Data folders
/SolverStudyWork/
/SolverStudyTest/
# Copasi tool folder
/COPASI/
# Installation outputs (a bit unfortunate)
/src/
